.my-account {
    display: flex;
    flex-direction: column;
}
.my-account h2 {
    font-size: 20px;
    margin: auto;
}
.account-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* LIST */
.list {
    display: flex;
    flex-wrap: wrap;
}
.list .announced-item {
    width: 25%;
}
.see-all-link {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}