.item-page--area {
    display: flex;
    margin-top: 20px;
}
.box {
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 4px #999;
    margin-bottom: 20px;
}
.box-padding {
    padding: 10px;
}
.left-side {
    flex: 1;
    margin-right: 20px;
}
.item-img {

}
.item-info {
    padding: 10px;
}
.item-name {
    margin-bottom: 20px;
}
.item-description {

}
.right-side {
    width: 250px;
}