/* SEARCH BAR */
.search-area {
    background-color: #DDD;
    border-bottom: 1px solid #CCC;
    padding: 20px 0;
}
.search-box {
    background-color: #9BB83C;
    padding: 10px 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0.3px rgba(0, 0, 0, 0.2);
    display: flex;
}
.search-form {
    flex: 1;
    width: 100%;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    margin: 0;
}
.search-input {
    height: 40px;
    border: 0;
    border-radius: 5px;
    outline: 0;
    font-size: 15px;
    color: #000;
}
.search-input--text {
    width: 100%;
    padding: 0 10px;
}
.search-button {
    height: 40px;
    width: 100%;
}
/* CATEGORY LIST */
.page-area h2 {
    font-size: 20px;
}
.category-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.category-item {
    width: 25%;
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
    height: 50px;
    margin-bottom: 10px;
}
.category-item:hover {
    color: #999;
}
.category-item img {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}
/* LIST */
.list {
    display: flex;
    flex-wrap: wrap;
}
.see-all-link {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}