header {
    border-bottom: 1px solid #CCC;
}
header a, .logout-button {
    text-decoration: none;
    color: #000;
    background: none;
    outline: 0;
    border: 0;
}
.navbar {
    height: 60px;
    background-color: #FFF;
}
.logo-lm {
    max-height: 50px;
}
.navlink {
    color: #000;
    text-decoration: none;
}
.navlink:hover,
.logout-button:hover {
    color: #999;
}
.nav-button {
    background-color: #FF8100;
    color: #FFF;
}