@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #EEE;
}
/* GLOBAL CSS VARIABLES */
:root {
  --background: #CCCCCC;
  --background-alt: #DDDDDD;
  --background-announced: #EEEEEE;
  --background-light: #FFFFFF;
  --background-search: #9BB83C;
  --seller-background: #0000FF;
  --text: #000000;
  --text-light: #999999;
  --text-white: #FFFFFF;
  --text-blue: #0000FF;
  --border-white: #FFFFFF;
  --border-alt: #9BB83C;
  --border-grey: #CCCCCC;
  --box-shadow: 0, 0, 0;
  --box-shadow--grey: #999999;
  --post-button: #FF8100;
}
/* INPUTS */
.area-input {
  flex: 1;
}
textarea {
  height: 150px;
  resize: none;
  font-size: 14px;
}
/* PAGINATION ON "ADS" PAGE */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}