@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #EEE;
}
/* GLOBAL CSS VARIABLES */
:root {
  --background: #CCCCCC;
  --background-alt: #DDDDDD;
  --background-light: #FFFFFF;
  --background-search: #9BB83C;
  --text: #000000;
  --text-light: #999999;
  --text-white: #FFFFFF;
  --border-grey: #CCCCCC;
  --box-shadow: 0, 0, 0;
  --post-button: #FF8100;
}
/* FORM GROUPS */
.area {
  display: flex;
  align-items: center;
  padding: 10px;
  max-width: 500px;
  margin-bottom: 0.25rem !important;
}
.area textarea {
  height: 150px;
  resize: none;
  font-size: 14px;
}
.area .span-currency {
  font-weight: bold;
  margin-right: 5px;
}
.forms {
  background-color: #FFF;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0px 0px 3px #999;
}
.forms-title {
  padding: 20px 0;
}
/* INPUTS */
.area-input {
  flex: 1;
}
/*INPUT LABELS*/
.area-title {
  width: 200px;
  text-align: right;
  padding-right: 20px;
  font-weight: bold;
  font-size: 14px;
}
/* INPUTS ON FOCUS */
.form-control:focus {
  outline: 0;
  transition: all ease .4s;
  box-shadow: none;
  border: 1px solid #333;
  color: #333;
}